<table class="table table-hover">
  <thead>
  <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>DOB</td>
      <td>&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of (contacts|async)">
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.dateOfBirth | date:'shortDate'}}</td>
      <td>
        <button (click)="edit(contact.id)"
          class="btn btn-default">
          Edit</button>
        <button (click)="delete(contact.id)"
          class="btn btn-default">
          Delete</button>
      </td> 
  </tr>
  </tbody>
</table>
<button (click)="add()"
class="btn btn-primary pull-right">
Add</button>
