<div class="row">
  <div class="col-lg-offeset-3 col-lg-6">
    <form class="form-horizontal"
      [formGroup]="form">
      <input type="hidden" formControName="id">
      <app-text-input formControlName="firstName" id="fn">
        First Name:
      </app-text-input>
      <app-text-input formControlName="lastName" id="ln">
        Last Name:
      </app-text-input>
      <app-text-input formControlName="dateOfBirth" id="dob">
        Date of Birth:<div class="errors">Errors go here!</div>
      </app-text-input>
    </form>
    <div class="col-lg-12">
        <button (click)="save()"
         class="btn btn-primary pull-right"
        [disabled]="!form.valid">
         Save</button>
        <button (click)="cancel()"
        class="btn btn-default pull-right">
          Cancel</button>
    </div>
  </div>
</div>
